@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    @apply bg-purple-3 text-base leading-normal text-purple-dark;
  }
}

@layer utilities {

  .purple-gradient {
    background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
  }  

  .text-purple-gradient {
    background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
  }

  .container {
    margin: auto;
  }

  .app-container {
    @apply w-full mx-auto;
  }

  @screen lg {
    .app-container {
      max-width: 80%;
    }
  }
}